body {
  margin: 0;
}
div {
  width: 200px;
  height: 200px;
  position: absolute;
}
.box1 {
  background-color: cadetblue;
  z-index: 4;
}
.box2 {
  background-color: orange;
  top: 50px;
  left: 50px;
  z-index: 3;
}
.box3 {
  background-color: orchid;
  top: 100px;
  left: 100px;
  z-index: 2;
}
.box4 {
  background: seagreen;
  left: 150px;
  top: 150px;
  z-index: 1;
}
.box5 {
  background-color: tomato;
  width: 400px;
  height: 400px;
}
