body {
  font-size: 16px;
  color: #333;
  margin: 0;
}
body > div {
  height: 700px;
  width: 700px;
  background-color: #eee;
  border: 20px solid #999;
  margin: 20px auto;
}
div > div {
  width: 50%;
  height: 50%;
}
div > div:first-child {
  background: #f66;
}
div > div:last-child {
  background: #69f;
  margin-right: 0;
  margin-left: auto;
}
